body {
    font-size: 16px;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

th, td {
    width: 20%;
    padding: 8px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    word-break: normal;
    overflow: hidden;
}

th {
    background: lightgray;
}

th > p {
    margin: 0
}

th > p > span {
    font-size: 10px;
}
